In [1]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

# Lesson 11: Pivots and Joins #

## Cross-classification: grouping by two columns

In [2]:
sky = Table.read_table('data/skyscrapers_v2.csv')
sky = (sky.with_column('age', 2021 - sky.column('completed'))
          .drop('completed'))
sky.show(3)

In [8]:
sky.group(['material','city']).show(20)

In [13]:
sky.group(['material','city'], np.average).show()

In [7]:
sky.group(['city','material'], np.average).show(20)

In [5]:
sky.pivot('material','city').show()

In [14]:
sky.pivot('city','material').show()

In [15]:
sky.pivot('material','city', values='height', collect=np.average).show()

In [17]:
sky_p = sky.pivot('material', 'city', values='height', collect=max)
sky_p.show()

In [18]:
sky_p = sky_p.with_column(
    'difference', 
    abs(sky_p.column('steel') - sky_p.column('concrete'))
)
sky_p

city       | concrete | mixed/composite | steel  | difference
Atlanta    | 264.25   | 311.8           | 169.47 | 94.78
Austin     | 208.15   | 0               | 93.6   | 114.55
Baltimore  | 161.24   | 0               | 155.15 | 6.09001
Boston     | 121.92   | 139             | 240.79 | 118.87
Charlotte  | 265.48   | 239.7           | 179.23 | 86.25
Chicago    | 423.22   | 306.94          | 442.14 | 18.92
Cincinnati | 125      | 202.69          | 175    | 50
Cleveland  | 125      | 288.65          | 215.8  | 90.8
Columbus   | 79.25    | 0               | 169.3  | 90.05
Dallas     | 176.48   | 280.72          | 270.06 | 93.58
... (25 rows omitted)

In [19]:
sky_p.sort('difference', True)

city              | concrete | mixed/composite | steel  | difference
Sunny Isles Beach | 196      | 0               | 0      | 196
Las Vegas         | 350.22   | 195.68          | 164.6  | 185.62
Miami Beach       | 170.39   | 0               | 0      | 170.39
Pittsburgh        | 89.3     | 172             | 256.34 | 167.04
Los Angeles       | 145.7    | 118.26          | 310.29 | 164.59
Philadelphia      | 157.89   | 296.73          | 288.04 | 130.15
Boston            | 121.92   | 139             | 240.79 | 118.87
Austin            | 208.15   | 0               | 93.6   | 114.55
Seattle           | 138.69   | 284.38          | 235.31 | 96.62
Atlanta           | 264.25   | 311.8           | 169.47 | 94.78
... (25 rows omitted)

## Joins ##

In [ ]:
drinks = Table().with_columns('Drinks', make_array(), 'Cafe', make_array(), 'Price', make_array())
drinks = drinks.with_rows([
    ['Chai Tea', 'Joe van Gogh', 4],
    ['Espresso', 'Monuts',  2],
    ['Latte',    'Monuts',  3],
    ['Espresso', "Cloche",   2]
])
drinks

In [ ]:
discounts = Table().with_columns(
    'Coupon', make_array(10, 20, 5),
    'Location', make_array('Joe van Gogh', 'Monuts', 'Joe van Gogh')
)
discounts

In [ ]:
combined = drinks.join('Cafe', discounts, 'Location')
combined

In [ ]:
discounted_frac = 1 - combined.column('Coupon') / 100

combined.with_column(
    'Discounted Price', 
    combined.column('Price') * discounted_frac
)

In [ ]:
drinks.join('Cafe', drinks, 'Cafe')